<div id="main">
  <div id="content">
    <div class="panel">
      <div class="panel-center">
        <header >
          <h2>Modbus设置</h2>
        </header>
        <form class="navbar-form navbar-left ng-untouched " novalidate="" role="search">
          <div class="form-group pdlr-4">
            <input class="form-control" formcontrolname="keyword" maxlength="15" name="keyword"  placeholder="请输入搜索内容" type="text">
          </div>
          <div class="form-group pdlr-4">
            <button class="btn btn-default" type="submit">
              搜索
            </button>
          </div>
        </form>
        <table class="table table-striped smart-form table-bordered panel-center">
          <thead>
          <tr>
            <th>编号</th>
            <th>类型</th>
            <th>值 </th>
            <th>单位 </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ml of modbusList" >
            <td>{{ml.number}}</td>
            <td>{{ml.name}}</td>
            <td>{{ml.value}}</td>
            <td>{{ml.unit}}</td>
          </tr>
          </tbody>

        </table>
        <!--<div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20 text-left">-->
          <!--<button class="btn btn-save btn-xs mgt10">-->
            <!--<span class="hidden-mobile">添加新的</span>-->
          <!--</button>-->
        <!--</div>-->
        <div class="text-center">
          <!--<ul class="pagination pagination-sm">-->
            <!--<li class="disabled"><a>上一页</a></li>-->
            <!--<li class="active"><a>1</a></li>-->
            <!--<li class=""><a>2</a></li>-->
            <!--<li class=""><a>下一页</a>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<p> <span>共40条</span></p>-->

          {{msg}}
        </div>


      </div>

      <div class="dt-toolbar">
        <div class="col-xs-12 col-sm-6">
          <div class="col-xs-12 col-sm-6">

          </div>
        </div>
        <div class="hidden-xs right" style="margin-top:-20px;">


        </div>
      </div>



    </div>

  </div>


</div>
