<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="设置管理">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>设置管理</title>
        <link rel="stylesheet" href="global.scss">
          <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css">-->
        <!--<link rel="stylesheet" type="text/css" media="screen" href="assets/css/common.css">-->
        <!--<link rel="stylesheet" type="text/css" media="screen" href="assets/css/component.css">-->



    </head>

	<body>
		<demo-app>Loading ...</demo-app>
	</body>

</html>